<form class="form-horizontal" action="/addNewAdmin" method="post" enctype="multipart/form-data">
    <div class="card-body">
        <h4 class="card-title">Admin Details</h4>
        <div class="form-group row">
            <label for="fname" class="col-sm-3 text-right control-label col-form-label">First
                Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name Here" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Last
                Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name Here" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3 text-right control-label col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Here" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-3 text-right control-label col-form-label" required>Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password Here">
            </div>
        </div>
        <div class="form-group row">
            <label for="datepicker-autoclose" class="col-sm-3 text-right control-label col-form-label">D.O.B.</label>
            <div class="col-sm-9 input-group">
                <input type="text" class="form-control" id="datepicker-autoclose" name="dob" placeholder="mm/dd/yyyy"
                    required>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-3 text-right control-label col-form-label">City</label>
            <div class="col-sm-9">
                <select class="select2 form-control custom-select" id="city" name="city"
                    style="width: 100%; height:36px;" required>
                    <option value="Ahemdabad">Ahemdabad</option>
                    <option value="Gandhinager">Gandhinager</option>
                    <option value="Vadodara">Vadodara</option>
                    <option value="Rajkot">Rajkot</option>
                    <option value="Jamnager">Jamnager</option>

                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="gender" class="col-sm-3 text-right control-label col-form-label">Gender</label>
            <div class="col-sm-9">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="male" name="gender" value="male" required>
                    <label class="custom-control-label" for="male">Male</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="female" name="gender" value="female" required>
                    <label class="custom-control-label" for="female">Female</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 text-right control-label col-form-label">Languages</label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="gujarati" name="languages" value="gujarati"
                     >
                    <label class="custom-control-label" for="gujarati">Gujarati</label>
                </div>
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="hindi" name="languages" value="hindi"
                       >
                    <label class="custom-control-label" for="hindi">Hindi</label>
                </div>
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="english" name="languages" value="english"
                     >
                    <label class="custom-control-label" for="english">English</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 text-right control-label col-form-label">Profile Photo</label>
            <div class="col-sm-9">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" accept="image/*" name="profile" required>
                    <label class="custom-file-label" for="validatedCustomFile">Choose Profile Photo...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top">
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>