<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="/dashboard" class="text-nowrap logo-img">
          <img src="../assets/images/logos/logo-light.svg" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/dashboard" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
            <span class="hide-menu">Admin Details</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/addAdmin" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">Add Admin</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/viewAdmin" aria-expanded="false">
              <span>
                  <iconify-icon icon="material-symbols:table-chart" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">View Admin</span>
            </a>
          </li>


          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
            <span class="hide-menu">Category Details</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/addCat" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">Add Category</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/viewCat" aria-expanded="false">
              <span>
                  <iconify-icon icon="material-symbols:table-chart" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">View Category</span>
            </a>
          </li>



          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
            <span class="hide-menu">SubCategory Details</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/addSubCat" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">Add SubCategory</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/viewSubCat" aria-expanded="false">
              <span>
                  <iconify-icon icon="material-symbols:table-chart" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">View SubCategory</span>
            </a>
          </li>




          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
            <span class="hide-menu">Extra Category Details</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/addextraCat" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">Add Extra Category</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/viewextraCat" aria-expanded="false">
              <span>
                  <iconify-icon icon="material-symbols:table-chart" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">View Extra Category</span>
            </a>
          </li>




          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
            <span class="hide-menu">Product Details</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/addproduct" aria-expanded="false">
              <span>
                <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">Add Product</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="/viewproduct" aria-expanded="false">
              <span>
                  <iconify-icon icon="material-symbols:table-chart" class="fs-6"></iconify-icon>
              </span>
              <span class="hide-menu">View Product</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>