<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">
        <input type="text" name="id" value="<%=data.id%>" hidden placeholder="Enter Name">
        <input type="text" name="name" value="<%=data.name%>" placeholder="Enter Name">
        <input type="text" name="email" placeholder="email" value="<%=data.email%>">
        <!-- <input type="file" > -->
<button>update Data</button>
    </form>

    <h1>hello</h1>
    
</body>
</html>